#title {
	display: flex;
	flex-direction: row;
	width: 129px;
	float: left;
}

h1 {
	margin: 0%;
}

h2 {
	margin: 0%;
}

#logout {
	text-align: right;
	display: grid;
    height: 100px;
}

#loginForm {
	text-align: right;
	display: flex;
	flex-direction: row-reverse;
    height: 100px;
}

td {
	text-align: left;
}


#error {
    color: red;
    font-weight: bold;
}